<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <div class="container">
    <div>
      <div class="park-info">Target production: <span id="targetProduction"></span></div>
      <div class="park-info">Total production: <span id="totalProduction"></span></div>
    </div>
    <div style="margin-bottom: 20px;">
      <div class="park-info">Current price: <span id="price"></span></div>
      <div class="park-info">Total cost: <span id="totalCost"></span></div>
      <div class="park-info">Total profit: <span id="totalProfit"></span></div>
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="col-3">Turbine</th>
          <th class="col-4">Capacity (MWh)</th>
          <th class="col-4">Production cost (€/MWh) </th>
          <th class="col-1"></th>
        </tr>
      </thead>
      <tbody>
        {% for t in turbines %}
        <tr id="turbine-{{ t.id }}" class="turbine-disabled">
          <td>{{ t.id }}</td>
          <td>{{ t.capacity }}</td>
          <td>{{ t.cost }}</td>
          <td>Off</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <form onsubmit="onIncTarget()">
      <div class="row">
        <div class="col-auto" style="margin-bottom: 20px;">
          <label for="incTarget" class="col-form-label" style="width: 200px;">Increase target production</label>
        </div>
        <div class="col-auto">
          <input name="incTarget" type="number" min="0" id="incTarget" class="form-control" oninput="onInputInc()">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>

    <form onsubmit="onDecTarget()">
      <div class="row">
        <div class="col-auto" style="margin-bottom: 20px;">
          <label for="decTarget" class="col-form-label" style="width: 200px;">Decrease target production</label>
        </div>
        <div class="col-auto">
          <input name="decTarget" type="number" min="0" id="decTarget" class="form-control" oninput="onInputDec()">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>

    <form onsubmit="onSetPrice()">
      <div class="row">
        <div class="col-auto" style="margin-bottom: 20px;">
          <label for="price" class="col-form-label" style="width: 200px;">Set price</label>
        </div>
        <div class="col-auto">
          <input name="price" type="number" min="0" id="setPrice" class="form-control">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>

    <div id="alert" class="alert-group"></div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="text/javascript">
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

    updatePrice()
    updateTarget()
    axios.get("/plan")
      .then(resp => updateInfo(resp.data))
      .catch(err => handleError(err))

    function updateInfo(data) {
      document.getElementById("totalProduction").innerHTML = data["total_production"]
      document.getElementById("totalCost").innerHTML = data.total_cost
      document.getElementById("totalProfit").innerHTML = data.total_profit
      data.plan.forEach(t => {
        const el = document.getElementById("turbine-" + t[0])
        if (t[1] > 0) {
          el.classList.remove("turbine-disabled")
          el.lastElementChild.innerHTML = "On"
        } else {
          el.classList.add("turbine-disabled")
          el.lastElementChild.innerHTML = "Off"
        }
      })
    }

    function updatePrice() {
      axios.get("/price")
        .then(resp => document.getElementById("price").innerHTML = resp.data)
        .catch(err => handleError(err))
    }

    function updateTarget() {
      axios.get("/target")
        .then(resp => document.getElementById("targetProduction").innerHTML = resp.data)
        .catch(err => handleError(err))
    }

    function onInputInc() {
      document.getElementById("decTarget").value = ""
    }

    function onInputDec() {
      document.getElementById("incTarget").value = ""
    }

    function onIncTarget() {
      event.preventDefault()
      axios.post("/inc-target", {
        increase: event.target.incTarget.value
      })
        .then(resp => {
          document.getElementById("incTarget").value = ""
          updateInfo(resp.data)
          updateTarget()
        })
        .catch(err => handleError(err))
    }

    function onDecTarget() {
      event.preventDefault()
      axios.post("/dec-target", {
        decrease: event.target.decTarget.value
      })
        .then(resp => {
          document.getElementById("decTarget").value = ""
          updateInfo(resp.data)
          updateTarget()
        })
        .catch(err => handleError(err))
    }

    function onSetPrice() {
      event.preventDefault()
      axios.post("/set-price", {
        price: event.target.price.value
      })
        .then(resp => {
          document.getElementById("setPrice").value = ""
          updateInfo(resp.data)
          updatePrice()
        })
        .catch(err => handleError(err))
    }

    function handleError(err) {
      if (err.response) {
        appendAlert(err.response.data.message)
      } else {
        appendAlert("Unkown error.")
      }
    }

    function appendAlert(message) {
      const alertPlaceholder = document.getElementById('alert');
      const wrapper = document.createElement('div')
      wrapper.innerHTML = [
        `<div class="alert alert-primary alert-dismissible" role="alert">`,
        `   <div>${message}</div>`,
        '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
        '</div>'
      ].join('')
      alertPlaceholder.append(wrapper)
    }
  </script>

  <style type="text/css">
    .container {
      margin-top: 100px;
    }

    .park-info {
      display: inline-block;
      margin-right: 40px;
      font-size: large;
      font-weight: 500;
    }

    .turbine-disabled {
      opacity: 0.35;
    }

    .alert-group {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  </style>
</body>

</html>